
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div style="height:75vh;display:flex;justify-content:center;align-items:center">
            <h1>Welcome.</h1>
        </div>
        
    </div>
</div>


