@model EmployeeCreateVM
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h3>Create Employee</h3>
                <form class="forms-sample" method="post" asp-action="Create">
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input class="form-control" asp-for="Name">
                        <span class="text-danger" asp-validation-for="Name"></span>

                        <label asp-for="Surname"></label>
                        <input class="form-control" asp-for="Surname">
                        <span class="text-danger" asp-validation-for="Surname"></span>
                        
                        <label asp-for="DepartmentId">Departments: </label>
                        <select asp-for="DepartmentId" asp-items="@ViewBag.departments">
                        </select>
                        <span class="text-danger" asp-validation-for="DepartmentId"></span>
                        
                    </div>
                    <button type="submit" class="btn btn-outline-success me-2">Submit</button>
                    <a class="btn btn-outline-warning" style="text-decoration:none" asp-action="Index">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

